@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<section class="login">
    <div class="container">

        <h1 class="page-title margin-b-md">User Login</h1>

        <div class="row">
            <div class="col-md-12">
                <form class="login-account-form" method="post" asp-action="Login" asp-controller="Account">
                    <div asp-validation-summary="All" style="color: red;"></div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-box input-box_margin-b-md">
                                <label class="input-box__label" asp-for="Email">Email: </label>
                                <div class="input-box__field-wrapper">
                                    <input class="input-box__field" asp-for="Email" />
                                    <span class="validation" asp-validation-for="Email"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-box input-box_margin-b-md">
                                <label class="input-box__label" asp-for="Password">Password: </label>
                                <div class="input-box__field-wrapper">
                                    <input class="input-box__field" asp-for="Password" />
                                    <span class="validation" asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="checkbox-box checkbox-box_margin-b-sm">
                                <input class="checkbox-box__field checkbox-box__field_margin-r-sm" asp-for="RememberMe" />
                                <label class="checkbox-box__label" asp-for="RememberMe">Remember me</label>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn_margin-b-sm">Login</button>

                    <div class="row">
                        <a class="login-account-form__forgot-link" asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>