@model ResetPasswordViewModel

@{ 
    ViewData["Title"] = "Reset password";
}

<h2>Reset password</h2>

<div class="row mt-3">
    <div class="col-12">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Email" hidden />
            <input asp-for="Token" hidden />

            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Reset</button>
        </form>
    </div>
</div>