@model HotelModel

@{
    ViewData["Title"] = "Hotel Details";
    string photoPath = "~/img/hotel/" + Model.PhotoPath;
    string address = $"{Model.HotelAddress}, {Model.Country.CountryName}, {Model.HotelCity}";

    BookViewModel bookViewModel = new BookViewModel()
    {
        HotelId = Model.HotelId,
        DateFrom = DateTime.Now,
        DateTo = DateTime.Now,
        Rooms = Model.Rooms.Where(x => x.RoomStatus.IsRoomOccupied == false).ToList()
    };
}
<section class="details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row margin-b-sm">
                    <div class="col-md-auto">
                        <h2>@Model.HotelName</h2>
                    </div>
                </div>

                <div class="hotel-details margin-b-md">
                    <span class="hotel-details__address hotel-details__address_margin-b-md"><strong>Address :</strong> @address</span>
                    <div class="hotel-details__image-wrapper margin-b-sm">
                        <img class="hotel-details__image" src="@photoPath" asp-append-version="true" />
                    </div>
                    <p class="hotel-details__description">@Model.HotelDescription</p>
                </div>
            </div>
        </div>

        <partial name="_BookRoomPartial" model="bookViewModel">
    </div>
</section>