
<ul class="nav flex-column">
    <li class="nav-item">
        <a asp-controller="Profile" asp-action="Profile" class="nav-link">Profile</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Profile" asp-action="Bookings" class="nav-link">Bookings</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Profile" asp-action="AddHotel" class="nav-link">Add Hotel</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Profile" asp-action="MyOffers" class="nav-link">My offers</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Profile" asp-action="Payments" class="nav-link">Payments</a>
    </li>
    <li>
        <form asp-action="Logout" asp-controller="Account" method="post">
            <button type="submit" class="nav-link btn btn-link py-0" style="width: auto">
                Logout
            </button>
        </form>
    </li>
</ul>