<ul class="profile-menu clear-list">
    <li class="profile-menu__item">
        <a class="profile-menu__item-link" asp-controller="Profile" asp-action="Profile">Profile</a>
    </li>
    <li class="profile-menu__item">
        <a class="profile-menu__item-link" asp-controller="Profile" asp-action="Bookings">Bookings</a>
    </li>
    <li class="profile-menu__item">
        <a class="profile-menu__item-link" asp-controller="Profile" asp-action="AddHotel">Add Hotel</a>
    </li>
    <li class="profile-menu__item">
        <a class="profile-menu__item-link" asp-controller="Profile" asp-action="MyOffers">My offers</a>
    </li>
    <li class="profile-menu__item">
        <a class="profile-menu__item-link" asp-controller="Profile" asp-action="Payments">Payments</a>
    </li>
    <li class="profile-menu__item">
        <form class="profile-menu__form" asp-action="Logout" asp-controller="Account" method="post">
            <button class="profile-menu__form-submit" type="submit">
                Logout
            </button>
        </form>
    </li>
</ul>