@model AddHotelViewModel

@{
    ViewData["Title"] = "Add Hotel";
}

<section class="add-hotel">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="aside">
                    <partial name="_SidebarMenuPartial" />
                </aside>
            </div>
            <div class="col-md-9">
                @*To support file upload set the form element enctype="multipart/form-data" *@
                <form class="add-hotel-form" enctype="multipart/form-data" asp-controller="Profile" asp-action="AddHotel" method="post">

                    <div class="row">
                        <div class="col-12">
                            <div class="input-box input-box_margin-b-md">
                                <label class="input-box__label" asp-for="HotelName">Hotel name: </label>
                                <div class="input-box__field-wrapper">
                                    <input class="input-box__field" asp-for="HotelName" />
                                    <span class="validation" asp-validation-for="HotelName"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="select-box select-box_margin-b-md">
                                <label class="select-box__label" asp-for="HotelCountryId">Country:</label>
                                <div class="select-box__field-wrapper">
                                    <select asp-for="HotelCountryId" asp-items="@(new SelectList(Model.Countries, "CountryId", "CountryName"))" class="select-box__field">
                                        <option value="value">Pleace select</option>
                                    </select>
                                    <span class="validation" asp-validation-for="HotelCountryId"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-box input-box_margin-b-md">
                                <label class="input-box__label" asp-for="HotelCity">City: </label>
                                <div class="input-box__field-wrapper">
                                    <input class="input-box__field" asp-for="HotelCity" />
                                    <span class="validation" asp-validation-for="HotelCity"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-box input-box_margin-b-md">
                                <label class="input-box__label" asp-for="HotelAddress">Address: </label>
                                <div class="input-box__field-wrapper">
                                    <input class="input-box__field" asp-for="HotelAddress" />
                                    <span class="validation" asp-validation-for="HotelAddress"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-box input-box_margin-b-md">
                                <label class="input-box__label" asp-for="HotelDescription">Description: </label>
                                <div class="input-box__field-wrapper">
                                    <input class="input-box__field" asp-for="HotelDescription" />
                                    <span class="validation" asp-validation-for="HotelDescription"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="input-box input-box_margin-b-md">
                                <label class="input-box__label" asp-for="Photo">Photo: </label>
                                <div class="input-box__field-wrapper">
                                    <input class="input-box__field" asp-for="Photo" />
                                    <span class="validation" asp-validation-for="Photo"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @*При клике на кнопку в форме у которой type="submit", все данные отправляются на ссылку указанную в <form action"/"> *@
                            <button class="btn" type="submit">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>