@model IEnumerable<HotelModel>

@{
    ViewData["Title"] = "My offers";
    ViewData["controller"] = "Profile";
    ViewData["action"] = "MyOfferDetails";
}
<section class="my-offers">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="aside">
                    <partial name="_SidebarMenuPartial" />
                </aside>
            </div>
            <div class="col-md-9">
                @foreach (var hotel in Model)
                {
                    <partial name="_DisplayHotelDetailsPartial" model="hotel" view-data="ViewData" />
                }
            </div>
        </div>
    </div>
</section>