@{
    ViewData["Title"] = "Payments";
}

<div class="row">
    <div class="col-3">
        <partial name="_SidebarMenuPartial" />
    </div>
    <div class="col-9">
        <p>HELLO FROM Payments Page</p>
    </div>
</div>