@{
    ViewData["Title"] = "Payments";
}

<section class="payments">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="aside">
                    <partial name="_SidebarMenuPartial" />
                </aside>
            </div>
            <div class="col-md-9">
                <p>HELLO FROM Payments Page</p>
            </div>
        </div>
    </div>
</section>