@model ApplicationUser

@{
    string photoPath = "~/img/user/" + Model.PhotoPath;
    ViewData["Title"] = "Profile";
}


<section class="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="aside">
                    <partial name="_SidebarMenuPartial" />
                </aside>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-3">
                        <div class="user-image">
                            <img class="user-image__picture" src="@photoPath" alt="Profile img" asp-append-version="true" />
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="user-info">
                            <span class="user-info__item">First name: @Model.Name</span>
                            <span class="user-info__item">Last name: @Model.Surname</span>
                            <span class="user-info__item">Email: @Model.Email</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>