@model ApplicationUser

@{
    string photoPath = "~/img/user/" + Model.PhotoPath;
    ViewData["Title"] = "Profile";
}

<div class="row">
    <div class="col-3">
        <partial name="_SidebarMenuPartial" />
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col-3">
                <div class="user-image">
                    <img class="user-image__picture" src="@photoPath" alt="Profile img" asp-append-version="true"/>
                </div>
            </div>
            <div class="col-9">
                <div class="user_info">
                    <p>First name : @Model.Name</p>
                    <p>Last name : @Model.Surname</p>
                    <p>Email : @Model.Email</p>
                </div>
            </div>
        </div>
    </div>
</div>