@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelBooking</title>
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/tingle/tingle.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="main-wrapper">
        <div class="main-wrapper__content">
            <header>
                <nav class="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-2 col-md-2 d-flex d-flex-align-items-c">
                                <a class="navigation__logo" asp-controller="Home" asp-action="Index">HotelBooking</a>
                            </div>
                            <div class="col-10 col-md-7 order-md-4 d-flex d-flex-justify-end">
                                <ul class="navigation__authentication-list clear-list">
                                    @if (signInManager.IsSignedIn(User))
                                    {
                                        <li class="navigation__authentication-list-item">
                                            <a asp-controller="Profile" asp-action="Profile" class="btn btn_header">My Profile</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="navigation__authentication-list-item">
                                            <a class="btn navigation__list-item-link btn_header" asp-controller="Account" asp-action="Register">Register</a>
                                        </li>
                                        <li class="navigation__authentication-list-item">
                                            <a class="btn navigation__list-item-link btn_header" asp-controller="Account" asp-action="Login">Sign in</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="col-md-3 order-md-1 d-flex d-flex-justify-center">
                                <ul class="navigation__list clear-list">
                                    <li class="navigation__list-item">
                                        <a class="navigation__list-item-link navigation__list-item-link_primary" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="navigation__list-item">
                                        <a class="navigation__list-item-link navigation__list-item-link_primary" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <main>
                @RenderBody()
            </main>
        </div>

        <footer class="footer">
            <div class="container">
                &copy; 2021 - HotelBooking - <a class="footer__link" asp-action="Privacy" asp-controller="Home">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/tingle/tingle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
